*{
    margin:0;
    padding: 0;
}

.container{
    margin-right:1vw;
    margin-left:1vw;
    margin-top: 10vh;

}
td {
    text-align: center;

  }
td a{
    text-decoration: none;
}

